.background {
  background-color: #e6f3ff;
  height: 330px;
  position: relative;
}

.contact {
  font-size: 35px;
  margin-top: 10px;
  color: #4a8af1;
  font-weight: 700;
  position: relative;
  top: 120px;
}

.instagram {
  color: #4e8cf1;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 40px;
}

.facebook {
  color: #4e8cf1;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 40px;
}

.linkedin {
  color: #4e8cf1;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 40px;
}

.discord {
  color: #4e8cf1;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 40px;
}

.emailbutton {
  position: relative;
  margin-top: 60px;
}
