.App {
  text-align: center;
}

* {
  font-family: 'Google Sans';
}

.hoverable:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.btn-hoverable:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero::after {
  content: '';
  width: 100%;
  height: 60px;
  position: absolute;
  padding: 100px 0;
  background: inherit;
  z-index: -1;
  top: 160px;
  left: 0;
}