* {
	font-family: 'Google Sans';
}

.App {
  	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}


.App-header {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #000;
}

.row {
	display: flex;
	flex-direction: row;
}

.hoverable:hover {
	cursor: pointer;
	background-color: #CDEAD6;
	color: #34A853;
}

.deep-hoverable:hover {
	cursor: pointer;
	background-color: #CDEAD6;
	color: #34A853;
}

.spaced {
    justify-content: space-between;
}

.vertical-timeline-element-date{
	display: none !important;
}

.vertical-timeline-element--work{
	margin-bottom: 50px !important;
}